/*-----START-----GLOBAL-RESETS-----*/
*,*::before,*::after{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/*-----END-----GLOBAL-RESETS-----*/
:root{
    /*-----THEME-----*/
        /*--Colors--*/
        --clr-black:#0D120C;
        --clr-white:#ECE6F1;
        --clr-primary:#40663F;
        --clr-secondary:#DCC25B;
        --clr-highlight:#EA3757;
    /*---SIZING--*/
    --size-NAVBAR:5rem;
    --size-UIPADDING:1rem;

    /*---Z-INDEX---*/
    --z-top-layer:100;
    --z-mid-layer:50;
    --z-bottom-layer:0;
    
}
body{
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
}
header{
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    text-align: center;
    padding: var(--size-UIPADDING);
    z-index: var(--z-top-layer);
}
nav{
    background-color: #40663F;
    color: #DCC25B;
    display: flex;
    flex-direction: column;
    width: var(--size-NAVBAR);
    z-index: var(--z-mid-layer);
    justify-content: center;
    
}
main{
    margin-left: var(--size-NAVBAR);
    padding: var(--size-UIPADDING);
    margin-right: 1rem;
    height: 100%;
}
/*----SNAKE GAME---*/
.snake-game-container{
    display: grid;
    gap: .25rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    height: 100%;
    width: 100%;
}
.snake-game-container .score-info,.controls,.game-board{
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
}
/*---GAME INFO--*/
.snake-game-container .score-info{
    grid-area: 1/1/2/3;
}
/*---GAME CONTROLS---*/
.snake-game-container .controls{
    grid-area: auto/1/auto/3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    justify-content: flex-start;
    align-items: center;
}
.controls > h2{
    padding: 1rem;
}

.controls > button{
    max-width: 50%;
    padding: .25rem 1rem;
    background-color: var(--clr-primary);
    border: solid;
    border-radius: .5rem;
    border-color: var(--clr-highlight);
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--clr-secondary);
    cursor: pointer;
}
.controls > button:hover{
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    border-color: var(--clr-secondary);
}
/*---GAME BOARD---*/
.snake-game-container .game-board{
    grid-area: 1/3/3/5;
    aspect-ratio: 1/1;
    max-height: 80vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
}
.game-board .snake-head,.snake-tail,.snake-body{
    background-color: var(--clr-secondary);
    border-color: var(--clr-highlight);
    border-style: solid;
    border-width: .075rem;
}

/*---END SNAKE--*/
footer{
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    margin-top: auto;
    text-align: center;
    width: 100%;
    z-index:var(--z-top-layer);
    padding: var(--size-UIPADDING)
}